<h2 class="title">Welcome to DBCommit, <%= @user.name %></h2>

<div class="logged_in">
  <div class="clearfix outline-blue">
    <div class="col col-3">
      <img class="circle avatar" src="<%= @user.avatar_url %>"></img>

    </div>
    <div class="col col-6">
      <ul class="user_info">
        <li><%= @user.name %></li>
        <li><%= @user.username %></li>
        <li><%= @user.email %></li>
        <li>Today's score: <%= @user.score %></li>
      </ul>

    </div>
  </div>


  <div class="clearfix outline-blue">
    <% @user.commits.each do |commit| %>
    <%= commit.score %>
    <% end %>
  </div>


  <div class="clearfix outline-blue">
    <% @cohorts.each do |cohort| %>
    <%= commit.score %>
    <div class="col col-4">
      <img class="circle avatar center" src="<%= cohort.avatar_url %>"></img>
      <div class="bg-color-gray">
        <ul>
          <% cohort.users.each do |user| %>
          <%= user.name %>: <%= user.score %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
